*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#Hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    background-image: url("./model-3.jpg");
    background-position: center;
    background-size: cover;
}

.upper{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lower{
    margin-bottom: 3rem;

}

   


